<!-- <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
    </div> -->

    <div class="rate">
      
        <input type="radio" id="rating-1-<%= type %>" value="1" name="rating[<%= type %>]" aria-label="1-ster" required/>
        <label for="rating-1-<%= type %>"></label>

        <input type="radio" id="rating-2-<%= type %>" value="2" name="rating[<%= type %>]" aria-label="2-ster" required />
        <label for="rating-2-<%= type %>"></label>

        <input type="radio" id="rating-3-<%= type %>" value="3" name="rating[<%= type %>]" aria-label="3-ster" required />
        <label for="rating-3-<%= type %>"></label>

        <input type="radio" id="rating-4-<%= type %>" value="4" name="rating[<%= type %>]" aria-label="4-ster" required />
        <label for="rating-4-<%= type %>"></label>

        <input type="radio" id="rating-5-<%= type %>" value="5" name="rating[<%= type %>]" aria-label="5-ster" required />
        <label for="rating-5-<%= type %>"></label>

      </div>