<%- include('./partials/head') %>

<main>

    <h1 class="fav-h1">Bewaarde huizen</h1>
    <form>
        <p>Filter op:</p>
        <select>
            <option>Prijs</option>
            <option>Bewaardatum</option>
            <option>Datum</option>
            <option>Plaats</option>
        </select>
    </form>
    
<section class="house-template">    
    <% houses.forEach(house => { %>
        <article class="grid-container">

            <div class="image">
                <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=avif" type="image/avif"> 

                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=webp" type="image/webp"> 

                    <!-- <p><img class="house-image" src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="image house"></p>  -->
                    <img class="house-image" src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="image house"> 
                </picture>
            </div>

            <div class="content">
                <h2 class="h2-link"><a href="/detail/<%= house.id %>" class="house-link"><%= house.street %> <%= house.house_nr %> <%= house.nr_addition %></a></h2>
                <p><%= house.postal_code %>, <%= house.city %></p> 
                <!-- <br> -->
                <p class="price"> €<%= house.price %></p> 
                <br>
                <p><%= house.agent %></p> 
                <ul class="content-ul">
                    <li>Aantal kamers: <%= house.rooms %></li>
                    <li><%= house.m2 %> m2</li>
                    <li><%= house.m2_garden %> tuin m2</li>
                </ul>
                <br>
            </div>

            <div class="ster">
                <p><a href="/rating-maken" class="beoordeling-text">Notitie maken +</a></p>
                <!-- <p><a href="/user-ratings" class="beoordeling-text">Notitie maken +</a></p> -->
              
                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                    </div>
            </div>

            <div class="verwijderen">
                <button>Verwijderen  &#x2715;</button>
            </div>

            <div class="beoordelingen">
                <p>Beoordelingen van: </p>
                <br>
                <ul>
                    <% users.forEach(user => { %>
                        <div class="user-list">
                            <img class="avatar-image" src="https://fdnd-agency.directus.app/assets/<%=user.avatar%>"> 
                        <li class="user-li"><%= user.name %></li>
                        </div>
                    <% }); %>
                </ul>
            </div>

        </article>
   <% }); %>
</section>
</main>