<%- include('./partials/head') %>

<main>
    <section class="lijst-titel">
        <h1 class="fav-h1"><%= list.title %></h1>
        <h2 class="fav-h2">"<%= list.description %>"</h2>
    </section>
 
    <form>
        <p>Filter op:</p>
        <select>
            <option>Prijs</option>
            <option>Bewaardatum</option>
            <option>Datum</option>
            <option>Plaats</option>
        </select>
    </form>
    
<section class="house-template">    
    <% list.houses.forEach(house => { console.log(house.f_houses_id.poster_image)%>
        <article class="grid-container">

            <div class="image">
                <!-- <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=avif" type="image/avif"> 

                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>?format=webp" type="image/webp"> 

                    <img class="house-image" src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="image house"> 
                </picture> -->
                <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>?format=avif" type="image/avif">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>?format=webp" type="image/webp">
                    <img class="image-size" src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>" loading="lazy">
                  </picture>
            </div>

            <div class="content">
                <h3><a href="/detail/<%= house.id %>" class="house-link"><%= house.f_houses_id.street %> <%= house.f_houses_id.house_nr %> <%= house.f_houses_id.house_nr_addition %></a></h3>
                    <p><%= house.f_houses_id.postal_code %>, <%= house.f_houses_id.city %></p> 

                    <p class="price"> €<%= house.f_houses_id.price %></p> 
                <br>
                    <p><%= house.f_houses_id.agent %></p> 
                <ul class="content-ul">
                    <li>Aantal kamers: <%= house.f_houses_id.rooms %></li>
                    <li><%= house.f_houses_id.m2 %> m2</li>
                    <li><%= house.f_houses_id.m2_garden %> tuin m2</li>
                </ul>
                <br>
            </div>

            <div class="ster">
                <p><a href="/rating-maken" class="beoordeling-text">Notitie maken +</a></p>

<!-- <button id="openDialog"> Notitie maken +</button>

<dialog id="Dialog">
  <h1>Beoordeling:</h1>
  <ul>
    <li>Keuken</li>
    <li>Tuin</li>
    <li>Ligging </li>
    <br>
    <li>Badkamer</li>
    <li>Prijs</li>
    <li>Oppervlakte</li>
  </ul>

  <button id="closeDialog">Annuleer</button>
</dialog> -->


<%- include('./partials/ster-notitie', {type: 'Persoon-1'}) %>
            </div>

<div class="verwijderen">
    <button>Verwijderen  &#x2715;</button>
</div>

<div class="beoordelingen">
    <p>Beoordelingen van: </p>
    <br>
        <ul>
            <% users.forEach(user => { %>
            <!-- <div class="user-list"> -->
            <a href="/users/<%= users.id %>" class="user-list">
                <img class="avatar-image" src="https://fdnd-agency.directus.app/assets/<%=user.avatar%>"> 
                    <li class="user-li"><%= user.name %></li>
                        <!-- </div> -->
            </a>
            <% }); %>
        </ul>
</div>

        </article>
   <% }); %>
</section>
</main>