<%- include('./partials/head') %>


<section class="rating-section">
  <form method="post" action="/rating-maken">

<a href="/fav-lijst">Terug</a>

<h2>Beoordeling:</h2>

<ul>
    <li>Keuken <%- include('./partials/ster-notitie', {type: 'Keuken'}) %></li>
    <li>Tuin <%- include('./partials/ster-notitie', {type: 'Tuin'}) %></li>
    <li>Ligging <%- include('./partials/ster-notitie', {type: 'Ligging'}) %>

<ul>
    <li>Badkamer <%- include('./partials/ster-notitie', {type: 'Badkamer'}) %></li>
    <li>Prijs <%- include('./partials/ster-notitie', {type: 'Prijs'}) %></li>
    <li>Oppervlakte <%- include('./partials/ster-notitie', {type: 'Oppervlakte'}) %></li>
</ul>



  <button value="Rate" type="submit" class="verzend-btn">Verzenden</button>

</section>
</form>

<%- include('./partials/foot') %>
